.main-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: $sideBarWidth;
  position: relative;
}

.sidebar-container {
  transition: width 0.28s;
  width: $sideBarWidth !important;
  background-color: $menuBg;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;

  // reset element-ui css
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }

  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  .el-scrollbar__bar.is-vertical {
    right: 0px;
  }

  .el-scrollbar {
    height: calc(100% - 50px);
  }

  &.has-logo {
    .el-scrollbar {
      height: calc(100% - 50px);
    }
  }

  .is-horizontal {
    display: none;
  }

  a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  .svg-icon {
    margin-right: 16px;
  }

  .sub-el-icon {
    margin-right: 12px;
    margin-left: -2px;
  }

  .menu-siderbar{
    margin-bottom: 40px;
  }

  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
  }

  // menu hover
  .submenu-title-noDropdown,
  .el-submenu__title {
    &:hover {
      background-color: $menuHover !important;
    }
  }

  .is-active > .el-submenu__title {
    color: $subMenuActiveText !important;
  }

  & .nest-menu .el-submenu > .el-submenu__title,
  & .el-submenu .el-menu-item {
    min-width: $sideBarWidth !important;
    background-color: $subMenuBg !important;

    &:hover {
      background-color: $subMenuHover !important;
    }
  }
  .version {
    color: #909399;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 210px;
    background-color: $menuBg;
    // cursor: pointer;
  }
}
.hideSidebar{
  .version{
    width: 54px;
  }
}

.hideSidebar {
  .sidebar-container {
    width: 54px !important;
  }

  .main-container {
    margin-left: 54px;
  }

  .submenu-title-noDropdown {
    padding: 0 !important;
    position: relative;

    .el-tooltip {
      padding: 0 !important;

      .svg-icon {
        margin-left: 20px;
      }

      .sub-el-icon {
        margin-left: 19px;
      }
    }
  }

  .el-submenu {
    overflow: hidden;

    & > .el-submenu__title {
      padding: 0 !important;

      .svg-icon {
        margin-left: 20px;
      }

      .sub-el-icon {
        margin-left: 19px;
      }

      .el-submenu__icon-arrow {
        display: none;
      }
    }
  }

  .el-menu--collapse {
    .el-submenu {
      & > .el-submenu__title {
        & > span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
      }
    }
  }
}


.el-menu--collapse .el-menu .el-submenu {
  min-width: $sideBarWidth !important;
}

// mobile responsive
.mobile {
  .main-container {
    margin-left: 0px;
  }

  .sidebar-container {
    transition: transform 0.28s;
    width: $sideBarWidth !important;
  }

  &.hideSidebar {
    .sidebar-container {
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-$sideBarWidth, 0, 0);
    }
  }
}

.withoutAnimation {
  .main-container,
  .sidebar-container {
    transition: none;
  }
}
// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
.top-sidebar-container {
  display: flex;
  flex: 1;
  width: 0;
  .sidebar-logo-container {
    width: auto;
    background: #fff;
    margin: 0 10px;
    .sidebar-title {
      color: #000 !important;
    }
  }
  .el-scrollbar {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    .el-menu {
      display: flex;
      .el-submenu__title {
        padding: 0 40px 0 10px;
      }

      &.el-menu--horizontal {
        border-bottom: none;
      }
    }

    .hover-overflow {
      padding-bottom: 8px;
      overflow: hidden;
      overflow-x: hidden;
      margin-right: 0!important;

      &:hover {
        padding-bottom: 0px;
        overflow-x: auto;
      }

      &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width : 1px;  /*高宽分别对应横竖滚动条的尺寸*/
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius   : 8px;
        background-color: skyblue;
        background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
        );
      }
      &::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        background   : #ededed;
        border-radius: 8px;
      }
    }
  }
  .el-scrollbar__bar {
    display: none;
  }
}

// 混合模式导航
.left-sidebar-container {
  .left—sidebar {
    transition: width 0.28s;
    width: 100px !important;
    background-color: #001529;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    border-right: 1px solid #0c2135;
    .sidebar-logo-container{
      .sidebar-logo-link{
        .sidebar-logo{
          margin: 0;
        }
      }
    }
    .el-scrollbar{
      height: 100%;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      margin-bottom: 60px;
    }
  }
  .sidebar-container{
    left: 100px;
    width: 160px !important;
    .sidebar-logo{
      display: none;
    }
  }
  .version {
    color: #909399;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 99px;
    background-color: $menuBg;
  }
  .nosidebar{
    width: 0 !important;
  }
}
.hideSidebar{
  .left-sidebar-container{
    .sidebar-container{
      width: 0 !important;
    }
  }
  .leftSiderbar{
    margin-left: 100px;
    .leftNavbar{
      width: calc(100% - 100px);
    }
  }
}
